<h1>Digital Bank -  Usuário</h1>
<br>
<h3><%= link_to 'Editar o seu Perfil', edit_user_registration_path %></h3>
<br>
<h3><%= link_to 'Encerrar a sessão', destroy_user_session_path, :method => 'delete' %></h3>