<!DOCTYPE html>
<html>
    <head>
        <title>DigitalBank</title>
        <style>
            body {
                background-color: rgba(255, 255, 255, 0.959);
                text-align: center;
            }

            .tittle {
                font-size: 120px;
                font-family: Comic Sans MS;
                color: rgb(43, 94, 143);
            }

            .text {
                font-size: 35px;
                font-family: Comic Sans MS;
                color: rgb(43, 94, 143);
            }

            .text_register {
                font-size: 25px;
                font-family: Comic Sans MS;
                color: rgb(43, 94, 143);
            }

            .text_login {
                font-size: 20px;
                font-family: Comic Sans MS;
                color: rgb(43, 94, 143);
            }

            .button_register {
                background: rgba(0, 255, 106, 0.623);
                font-size: 20px;
                font-family: Comic Sans MS;
                width: 250px;
                height: 50px;
                color: white;
            }

            .button_login {
                background: rgba(0, 255, 106, 0.623);
                font-size: 20px;
                font-family: Comic Sans MS;
                width: 200px;
                height: 75px;
                color: white;
            }

        </style>
    </head>

    <body>
        <div class="tittle">
            <p>Digital Bank</p>
        </div>

        <div class="text">
            <p>Bem-Vindo ao Digital Bank, o seu novo banco digital !</p>
        </div>

        <div class="text_register">
            <p>Ainda não é nosso cliente?</p>
        </div>


        <button class="button_register">
            <%= link_to 'Criar uma conta', new_user_registration_path, style:"text-decoration:none" %>
        </button>

        <div class="text_login">
            <p>Já é nosso cliente?</p>
        </div>

        <button class="button_login">
            <%= link_to 'Acessar minha conta', users_backoffice_users_path, style:"text-decoration:none" %>
        </button>

    </body>
</html>





