// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background-color: rgba(255, 255, 255, 0.959);
    background: rgba(0, 255, 106, 0.623);
    color: rgb(43, 94, 143);
}