<p>Olá <%= @resource.full_name %>!</p>

<p>Você solicitou a alteração da sua senha do Digital Bank?</p>
<p>Se não solicitou, apenas ignore esse email.</p>
<p>Se solicitou, clique no link abaixo:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Sua senha só será alterada caso clique no link acima.</p>
<p>O Digital Bank agradece.</p>
